

	<article>
		<h1>{{ title }}</h1>

      	<hr>
     	<br>

     	<div class="list">

     		{{#if recipes}}
     		{{#each recipes}}

	     	<div class="listItem">

	     		<img src="/images/parDefault.png" alt="imagerecette" id="photo"> </img>
	     		<div>
	     			<h2> {{this.title}} </h2>

	     			<div class="rating">

	              		<p> Note :</p>

		                <div class="empty" name="rating" id="s1" onclick="clickstar(1);"><i class="far fa-star"></i></div>
		                <div class="empty" name="rating" id="s2" onclick="clickstar(2);"><i class="far fa-star"></i></div>
		                <div class="empty" name="rating" id="s3" onclick="clickstar(3);"><i class="far fa-star"></i></div>
		                <div class="empty" name="rating" id="s4" onclick="clickstar(4);"><i class="far fa-star"></i></div>
		                <div class="empty" name="rating" id="s5" onclick="clickstar(5);"><i class="far fa-star"></i></div>

					</div>

		            <p>

			            Difficulté : ?/5 <br><br>

			            Temps de préparation : {{this.time}} <br><br>
			            Temps de cuisson : {{this.bakingTime}} <br><br>

		            </p>

		        </div>

	     	</div>
	     	{{/each}}

	     	{{else}}
	     		<p> 
	     			Il n'y a rien ici pour l'instant. Voulez-vous ajouter une nouvelle recette ? 
	     			{{#if user}} Cliquez <a href="/newRecipe">ici</a>.
      				{{else}} Connectez-vous et cliquez <a href=# onclick="connectforrecipe()">ici</a>.
      				{{/if}}
      			</p>
	     	{{/if}}

	    </div>

	    <p id="page"> Page : {{page}} </p>

    </article>
