
  <article>
      {{#each recipe}}
      <h1> {{this.title}} </h1>
      <h2> Catégorie : {{this.category}} </h2>
      <div class="recette">
        <aside id="ingredient">
          <p>Ingrédients : <br>
            {{this.ingredients}}
          </p>
        </aside>
        <div id="top"> <!-- le haut de la page-->

          <img src="/images/parDefault.png" alt="imagerecette" id="photo"> </img>

          <aside id="general">
            <p>
              Temps de préparation : {{this.time}} minutes <br>
              Temps de cuisson : {{this.bakingTime}}  minutes <br>
              Outils : {{this.tools}}<br>
            </p>
          </aside>
        </div> <!-- le milieu de la page-->
        <div class="etape">
          <h3>Etapes :</h3>
          <pre>
            {{this.steps}}
          </pre>
        </div>
    </div>
{{/each}}
  </article>
